@import "./src/assets/scss/variables.scss";
@import "./src/assets/scss/responsive.scss";

table.dataTable {
    width: 100% !important;
}

table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc, table.dataTable thead .sorting{
    background-image: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: $primary-color !important;
    background-color: $light-grey;
    border-color: $grey;
    border: 1px solid $light-grey;
    background: $light-grey;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: $primary-color !important;
    border: 1px solid $grey;
    background-color: $light-grey;
    background: $light-grey;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: $text-dark !important;
    border: 1px solid $grey;
    background: transparent;
    box-shadow: none;
    cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: -1px;
    color: $text-dark !important;
    border: 1px solid $grey;
    border-radius: 0px;
}

div.dataTables_paginate {
    margin: 0 10px 10px 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    box-shadow: inset 0 0 3px $grey;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background-color: $light-grey;
    background: transparent;
    box-shadow: inset 0 0 3px $grey;
}

.table-primary thead tr th {
    background-color: $primary-color !important;
    border-color: $primary-color $secondary-color $secondary-color $secondary-color !important;
    color: $text-light;
}

.table-primary tfoot tr th {
    background-color: $primary-color !important;
    border-color: $primary-color $secondary-color $secondary-color $secondary-color !important;
    color: $text-light;
}

.table thead tr th {
    border-width: 1px 1px 7px;
}

button.dt-button {
    margin-left: 10px;
    background-color: $background-button !important;
    border-color: $background-button !important;
    color:$text-light !important;
    background-image: none !important;
}

button.dt-button {
    margin-left: 10px;
    background-color: $background-button !important;
    border-color: $background-button !important;
    color:$text-light !important;
    background-image: none !important;
}

.table-responsive {
    margin-top: 15px !important;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
    color: $text-dark;
}

.table-primary tbody tr td.sorting_1 {
    background: $light-grey !important;
    border-bottom: 1px solid $grey !important;
    color: $text-dark;
}

.table-primary tbody+tbody, .table-primary td, .table-primary th, .table-primary thead th {
    border-color: $secondary-color;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: $text-dark;
}

:focus {
    outline: 0;
}

.dataTables_filter label {
    padding-right: 10px;
}

.dataTables_info {
    padding-left: 10px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid $secondary-color;
}

.dataTables_wrapper .dataTables_filter input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid $secondary-color;
}

.dataTables_scrollBody{
    table{
        margin-top: -20px;
    }
}

.dataTables_length{
    select{
        height: 30px;
        line-height: 30px;
        padding: 5px 10px;
        color: $text-dark;
    }
    label{
        padding-left: 10px;
    }
}

.dataTables_scrollFootInner{
    padding-right: 0 !important;
}

.table-primary, .table-primary>td, .table-primary>th {
    background-color: $primary-color;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 0;
    color: $text-light;
}

.dataTables_scroll{
    overflow: auto !important;
}

.dataTables_scrollHeadInner{
    width: 100% !important;
}