//Tamaños de las pantallas - Media querys
$small: 320px;
$medium: 640px;
$large: 1023px;

//Colores de los textos
$text-light: #fff;
$text-dark: #636E7B;

//Colores generales
$black: #000;
$grey: #ddd;
$light-grey: #eee;
$dark-grey: #777;

//Colores generales
$primary-color: #d20810;
$secondary-color: #b8c1d4;
$tertiary-color: #ffd204;

//Color del fondo del body
$background-color: #E9EAED;

//Color del fondo del menu lateral
$sidemenu-backgroud-color: #f7f7f7;

//Color del fondo de los componentes
$backgroud-component-color: #fbfbfb;

//Color del fondo de los botones
$background-button: #969898;

//Color de los botones de cancelar (hover)
$danger-button: #e64328;

//Color de los campos invalidos (hover)
$danger-field: #e64328;

//Borde de los botones y los input
$border-radius: 2px;
